# Configurações locais
config/database.php

# Uploads
uploads/*
!uploads/.gitkeep

# Cache Twig
cache/*
!cache/.gitkeep

# IDE
.vscode/
.idea/
*.sublime-*

# Sistema operacional
.DS_Store
Thumbs.db

# Dependências
vendor/
node_modules/
composer.lock
package-lock.json

# Ambiente
.env

# Logs
*.log