<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <span class="text-muted">&copy; {{ "now"|date("Y") }} {{ app_name }} - {{ version() }}</span>
    </div>
</footer>
